<div class="col-auto" >
  <div class="card p-4" id="topBar">
    <!-- información del usuario -->

    <div class="d-flex align-items-center" id="info-user">
      <div class="d-flex flex-column ms-3">
        <div>
        <i class="bi bi-arrow-left" id="volver" (click)="volver()"></i>
    </div>
        <span class="fw-bold text-dark">Inventario Principal</span>
        <span class="text-muted small">Sede</span>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Numero</th>
            <th>Numero</th>
            <th>Numero</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
        </tr>
    </tbody>
  </table>
</div>