<div class="col-auto">
  <div class="card p-4" id="topBar">
    <div class="d-flex align-items-center" id="info-user">
      <div class="d-flex flex-column ms-3">
        <div>
          <i class="bi bi-arrow-left" id="volver" (click)="volver()"></i>
        </div>
        <span class="fw-bold text-dark">Inventario Principal</span>
        <span class="text-muted small">Sede</span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Código</th>
          <th>Nombre Comercial</th>
          <th>Marca</th>
          <th>Lote</th>
          <th>CAS</th>
          <th>Clase de Peligro Según ONU</th>
          <th>Categoría IARC</th>
          <th>Estado</th>
          <th>Fecha de Vencimiento</th>
          <th>Presentación</th>
          <th>Ubicación de Almacenamiento</th>
          <th>Cantidad</th>
          <th>Cantidad Remanente</th>
          <th>Gasto Total</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sustancia of sustancias">
          <td>{{sustancia.numero}}</td>
          <td>{{sustancia.codigo}}</td>
          <td>{{sustancia.nombreComercial}}</td>
          <td>{{sustancia.marca}}</td>
          <td>{{sustancia.lote}}</td>
          <td>{{sustancia.CAS}}</td>
          <td>{{sustancia.clasedepeligrosegunonu}}</td>
          <td>{{sustancia.categoriaIARC}}</td>
          <td>{{sustancia.estado}}</td>
          <td>{{sustancia.fechadevencimiento}}</td>
          <td>{{sustancia.presentacion}}</td>
          <td>{{sustancia.ubicaciondealmacenamiento}}</td>
          <td>{{sustancia.cantidad}}</td>
          <td>{{sustancia.cantidadremanente}}</td>
          <td>{{sustancia.gastototal}}</td>
          <td>{{sustancia.PDF}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>