<div class="card p-4" id="topBar">
  <!-- información del usuario -->

  <div class="d-flex align-items-center" id="info-user">
    <div class="d-flex flex-column ms-3">
      <div>
        <i class="bi bi-arrow-left" id="volver" (click)="volver()"></i>
      </div>
      <span class="fw-bold text-dark">Lista de Usuarios</span>
    </div>
  </div>
</div>
<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>Cargo</th>
      <th>Sede</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nombres }}</td>
      <td>{{ usuario.apellidos }}</td>
      <td>{{ usuario.correo }}</td>
      <td>{{ usuario.telefono }}</td>
      <td>{{ usuario.rol }}</td>
      <td>{{ usuario.sedeU }}</td>
      <td>
        <button class="btn btn-primary btn-sm me-2" [routerLink]="['/registro', usuario.idusuario]">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario.idusuario)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>