<div class="col-auto" >
  <div class="card p-4" id="topBar">
    <!-- información del usuario -->

    <div class="d-flex align-items-center" id="info-user">
      <i class="bi bi-person-circle" id="ico-user"></i>
      <div class="d-flex flex-column ms-3">
        <span class="fw-bold text-dark">{{ nombreUsuario }} {{ apellidoUsuario }}</span>
        <span class="text-muted small">{{ rol }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col" id="menu">
    <div class="d-flex justify-content-start">
      <div style="width: 250px;">
        
        <!-- Sustancias -->
        <button class="w-100" (click)="sustancias()" type="button" data-bs-toggle="collapse"
          data-bs-target="#submenuSustancias" aria-expanded="false" aria-controls="submenuSustancias">
          Sustancias
        </button>

        <!-- Inventario -->
        <button class="w-100" (click)="administrarInventarios()"  type="button" data-bs-toggle="collapse"
          data-bs-target="#submenuInventario" aria-expanded="false" aria-controls="submenuInventario">
          Inventarios
        </button>

        <!-- Usuarios -->
        <button *ngIf="rol === 'Administrador'"  class="w-100" type="button" data-bs-toggle="collapse" data-bs-target="#submenuAdmin"
          aria-expanded="false" aria-controls="submenuAdmin">
          Usuarios
        </button>

        <div class="collapse" id="submenuAdmin">
          <div class="list-group">
            <a (click)="listarUsuarios()" >Lista de Usuarios</a>
            <a (click)="agregarUsuarios()" >Agregar Usuario</a>
          </div>
        </div>

        <!-- Configuración -->
        <button class="w-100" type="button" data-bs-toggle="collapse" data-bs-target="#submenuConfig"
          aria-expanded="false" aria-controls="submenuConfig">
          Configuración
        </button>

        <div class="collapse" id="submenuConfig">
          <div class="list-group">
            <a href="#">Cambio de contraseña</a>
            <a href="#">Editar perfil</a>
          </div>
        </div>
        <button class="w-100" (click)="logout()" >Cerrar Sesión</button>
      </div>
    </div>
  </div>